[user]
	name = Byron Gibson
	email = fbg111@gmail.com
[github]
	user = byrongibson
[gitorious]
	user = byrongibson
[core]
	excludesfile = /home/kurtosis/.gitignore_global
	editor = vim
[alias]
#   unstage = reset HEAD
    unstage = rm -r --cached
    pull = pull -u
    push = push -u
    log = log --decorate --graph --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
    lg = log --decorate --graph --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
    lol = log --decorate --graph --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
    lola = log --decorate --graph --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
[merge]
	tool = vimdiff
	conflictstyle = diff3
[color]
	ui = auto
